<section>
  <nav>
    <ul>
      <li><a href="#">London</a></li>
      <li><a href="#">Paris</a></li>
      <li><a href="#">Tokyo</a></li>
    </ul>
  </nav>
  
  <article>
  	<h1 id="title">Welcome to {{title}}</h1>
    <h2>London</h2>
    <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
    <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <div>
	   <span appChangeColor>Welcome to {{title}}.</span>
	</div>
    <select (change) = onmonthchange($event)>
    	<option *ngFor="let i of months">{{i}}</option>
    </select>
    <div>
    	<span *ngIf="isAvailable;then condition1 else condition2">Condition is Valid</span>
    	<ng-template #condition1>Condition is valid</ng-template>
    	<ng-template #condition2>Condition is invalid</ng-template>
    </div>
    <button (click) = "myFunction($event)">
    	Click Me
    </button>
  </article>
</section>