/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

#data{
	padding-top: 20px;
}